body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(
    270deg,
    #00c6ff,
    #0072ff,
    #ff512f,
    #dd2476
  );
  background-size: 800% 800%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
h3 {
  background: linear-gradient(
    260deg,
    #9aa3ad,
    #05c1da,
    #09d8c7,
    rgb(223, 1, 243)
  );
  animation: gradientMove 1s ease infinite;
}

button{
  margin: 0 15px 0 15px;
  border-radius: 15px;
  border: solid 5px dimgrey;
}

p{
margin: 30px 0 0 0;
font-size: 8px;
}