body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(
    270deg,
    #00c6ff,
    #0072ff,
    #ff512f,
    #dd2476
  );
  background-size: 800% 800%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}